name: cache
on: [workflow_dispatch]
jobs:
  cache:
   runs-on: ubuntu-22.04
   env:
     IMAGE_URL: https://github.com/waterlens/ppl-ocaml-env/raw/main/ppl-ocaml-env.tar.zstd
     IMAGE_PATH: ./ppl-ocaml-env.tar.zstd
     CACHE_KEY: ppl-ocaml-env-zstd
   steps:
    - uses: actions/cache@v3
      id: cache-env
      with:
        key: ${{ env.CACHE_KEY }}
        path: ${{ env.IMAGE_PATH }}
    - if: ${{ steps.cache-env.outputs.cache-hit != 'true' }}
      run: wget -O ${{ env.IMAGE_PATH }} ${{ env.IMAGE_URL }}
